body {
    background:FF7F50;
    font-family: 'Advent Pro';

}
    h1 , h2, h3, h4 {
        color: 555
    }
    
h1, h2, p, li {
    color: #555;
}
a{
    color: pink;
}
p {
    background: greenyellow;
    color: whitesmoke;
}